.pico-color-primary {
  color: var(--pico-primary, #01aaff);
}

.pico-color-secondary {
  color: var(--pico-secondary, #969eaf);
}

header {
  margin-top: var(--pico-spacing);
}

footer {
  margin-bottom: var(--pico-spacing);
}

.brand {
  --gap: var(--pico-spacing);

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: var(--gap);
  row-gap: calc(var(--gap) / 2);
}

.brand hgroup {
  display: contents;
}

.logo {
  grid-column: 1;
  grid-row: 1;
  width: 2rem; /* Match h1's --pico-font-size value */
  height: auto;
}

.brand hgroup h1 {
  grid-column: 2;
  grid-row: 1;
  margin: 0;
  text-box: trim-both cap alphabetic;
}

.brand hgroup p {
  grid-column: 1 / -1;
  grid-row: 2;
  margin: 0;
}

nav details.dropdown > summary + ul {
  width: unset;
  left: unset;
}

#filters {
  display: none;
}

@media (min-width: 768px) {
  #grid {
    grid-template-columns: fit-content(30%) auto;
    column-gap: 0;
  }

  #filters {
    margin-right: var(--pico-grid-column-gap);
  }
}

#list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.bill.lapsed {
  opacity: 0.5;
}

.bill > article {
  content-visibility: auto;
  contain-intrinsic-height: auto 250px;
}

.bill div[role="group"] {
  margin-bottom: 0;
}

.bill .bill-uid {
  text-align: right;
}

.bill .bill-link {
  margin-left: 0.5rem;
}

.bill.lapsed .bill-link {
  --pico-color: var(--pico-secondary);
  --pico-underline: var(--pico-secondary-underline);
}
